name: WINDOWS BUILD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
        
    - uses: papeloto/action-zip@v1
      with:
        files: dist/windows/
        dest: video.zip
          
    - uses: actions/upload-artifact@v2
      with:
        name: alpha
        path: video.zip
  
